﻿@using Microsoft.AspNetCore.Identity
@using MVCCoreDM1.Utility
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark">Hello @User.Identity.Name!</a>
        </li>
        @if (User.IsInRole(SD.Role_Admin))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown">
                    Create User / Tenant
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Main" asp-controller="Tenant" asp-action="Index">Create Tenant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Main" asp-controller="ApplicationUser" asp-action="Index">Create User</a>
                    </li>
                </ul>
            </li>
        }
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            </form>
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
